<html>

<h1>Stock Dashboard</h1>

<h2>Menu</h2>
<nav>
    <a href="/watchlist">View Watchlist</a>
</nav>

<h2>Seach Stock</h2>
<form action="/" method="post">
  <label for="symbol">Symbol:</label>
  <input type="text" id="symbol" name="symbol"><br><br>

  <label for="timeframe">Choose a timeframe:</label>
    <select name="timeframe" id="timeframe">
        <optgroup label="1 Day">
            <option value="1D">1 minute</option>
        </optgroup>
        <optgroup label="5 Days">
            <option value="5D">15 minutes</option>
        </optgroup>
        <optgroup label="1 Month">
            <option value="1M">1 hour</option>
        </optgroup>
        <optgroup label="6 Months">
            <option value="6M">1 day</option>
        </optgroup>
        <optgroup label="1 Year">
            <option value="1Y">1 week</option>
        </optgroup>
        <optgroup label="All">
            <option value="ALL">1 month</option>
        </optgroup>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>

{% if quote %}

    <h2>Stock: {{ symbol.upper() }}</h2>

    <!--Adds button below that runs JS function-->
    <button onclick="addToWatchlist()">Add to Watchlist</button>

    <script>
    function addToWatchlist() { //create function
        fetch('/add_to_watchlist', { //select which route to comunicate to
            method: 'POST', // POST sends data, GET only requests data
            body: "symbol={{ symbol }}", // body is what is sent and it is defined as symbol
            headers: {'Content-Type': 'application/x-www-form-urlencoded'} // tells Flask to expect form-encoded data, same format as HTML forms
        })
        .then(response => response.json()) // converts response to JSON
        .then(data => {
            if (data.success) { // check if response is True
                document.getElementById('watchlist-message').innerText = 'Added to watchlist' // if succesfull changes the <i> by marching id
            }
            else
                document.getElementById('watchlist-message').innerText = 'Stock already exists in watchlist' // if not succesfull changes the <i> by marching id
                
        });
    }
    </script>

    <i id="watchlist-message"></i>


    <h2>Company Profile</h2>
    <p>
        Name: {{ company_profile.name }} 
        <img src={{ company_profile.logo }} alt="Company Logo" width="50" height="50"><br>
    <br>
        Country: {{ company_profile.country }}<br>
        Exchange: {{ company_profile.exchange }}<br>
        Market capitalisation: {{ market_cap }}<br>
        Outstanding shares: {{ shares }}
    </p>

    <p>
        Current price: {{ quote.c }}<br>
        Daily change: {{ quote.d }}<br>
        Percentage change: {{ quote.dp }}<br>
        Daily high: {{ quote.h }}<br>
        Daily low: {{ quote.l }}<br>
        Open price: {{ quote.o }}<br>
        Previous close: {{ quote.pc }}<br>
    </p>

    <h2>Price History</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <canvas id="priceHistoryChart" style="width:100%"></canvas>
    <script type="text/javascript">
        date_time = {{ date_time|tojson }}
        close_price = {{ close_price|tojson }}
        new Chart("priceHistoryChart", {
    type: "line",
    data: {
        labels: date_time,
        datasets: [{
            label: 'Price History for {{ symbol.upper() }}',
            backgroundColor:"rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,0.1)",
            data: close_price
        }]
    }

    });
    </script>

    <h2>Company news</h2>
    {% if company_news %}
        {% for news in company_news %}
            <article>
            <h3>{{ news.headline }}</h3>
            <i>Source: {{ news.source }}</i>
            <p>Summary: {{ news.summary }}</p>
            <p><b>URL: </b>{{ news.url }}</p>
            </article>
        {% endfor %}
    {% else%}
        <h2>No News in the past week</h2>
    {% endif %}

{% elif symbol %}

<h2>Stock: {{ symbol.upper() }} doesn't exist</h2>

{%endif%}


</html>