<html>

<h1>Stock Dashboard</h1>
    
<form action="/" method="post">
  <label for="symbol">Symbol:</label>
  <input type="text" id="symbol" name="symbol"><br><br>

  <label for="timeframe">Choose an timeframe:</label>
    <select name="timeframe" id="timeframe">
        <optgroup label="1 Day">
            <option value="1D">1 minute</option>
        </optgroup>
        <optgroup label="5 Days">
            <option value="5D">15 minutes</option>
        </optgroup>
        <optgroup label="1 Month">
            <option value="1M">1 hour</option>
        </optgroup>
        <optgroup label="6 Months">
            <option value="6M">1 day</option>
        </optgroup>
        <optgroup label="1 Year">
            <option value="1Y">1 week</option>
        </optgroup>
        <optgroup label="All">
            <option value="ALL">1 month</option>
        </optgroup>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>

{% if quote %}

<h2>Stock: {{ symbol.upper() }}</h2>
<p>Current price:      {{ quote.c }}</p>
<p>Daily change:       {{ quote.d }}</p>
<p>Percentage change:  {{ quote.dp }}</p>
<p>Daily high:         {{ quote.h }}</p>
<p>Daily low:          {{ quote.l }}</p>
<p>Open price:         {{ quote.o }}</p>
<p>Previous close:     {{ quote.pc }}</p>

<h2>Price History</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<canvas id="priceHistoryChart" style="width:100%;max-width:700px"></canvas>
<script type="text/javascript">
    date_time = {{ date_time|tojson }}
    close_price = {{ close_price|tojson }}
    new Chart("priceHistoryChart", {
  type: "line",
  data: {
    labels: date_time,
    datasets: [{
        label: 'Price History for {{ symbol.upper() }}',
        backgroundColor:"rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: close_price
    }]
  }

});
</script>

{% elif symbol %}

<h2>Stock: {{ symbol.upper() }} doesn't exist</h2>

{%endif%}


</html>