<!DOCTYPE html>

<html>
    <style>
    table, th, td {
    border:1px solid black;
    }
    </style>
    <h1>Watchlist</h1>

    <nav>
        <a href="/">Home page</a>
        <a href="/portfolio">View Portfolio</a>
        <a href="/compare">Compare Stocks</a>
        <a href="/alerts">Alerts</a>
    </nav>

    <br>
    {% if watchlist_data %}
        <table style="width: 100%;">
            <tr>
                <th>Symbol</th>
                <th>Current price</th>
                <th>High</th>
                <th>Low</th>
                <th>Change</th>
                <th>Percentage change</th>
                <th>Open price</th>
                <th>Close price</th>
                <th>Remove from watchlist</th>
            </tr>
            {%for row in watchlist_data %}
            <tr>
                <td>{{ row }}</td>
                <td>{{ watchlist_data[row].c }}</td>
                <td>{{ watchlist_data[row].h }}</td>
                <td>{{ watchlist_data[row].l }}</td>
                <td>{{ watchlist_data[row].d }}</td>
                <td>{{ watchlist_data[row].dp }}</td>
                <td>{{ watchlist_data[row].o }}</td>
                <td>{{ watchlist_data[row].pc }}</td>
                <td>
                    <form action="/watchlist" method="post">
                        <input type="hidden" name="symbol" value="{{ row }}">
                        <input type="submit" value="Remove from watchlist">
                    </form>
                    {% if message %}
                        <i>{{ message }}</i>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No stocks added to watchlist</h2>
    {% endif %} 
    <script src="/static/js/alerts.js"></script>
</html>